body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.draw {
    margin-bottom: 20px;
}

.item {
    margin-right: 10px;
}

/*.dropdown-content, .side-nav {
    overflow-y: auto;
    z-index: 999
}*/
.dropdown-content {
    overflow-y: auto;
    z-index: 999
}

.center, .center-align, .dropdown-content li, .materialbox-caption, .negrita, .sig, .significado, span.badge, table.centered tbody tr td, table.centered thead tr th {
    text-align: center
}

.btn, .btn-large, a {
    text-decoration: none
}

.btn, .btn-flat, .btn-large, .waves-effect, a {
    -webkit-tap-highlight-color: transparent
}

nav, nav a, nav ul a {
    color: #fff
}

body, nav .input-field, nav ul {
    margin: 0
}

h1, h2, h3, h4, h5, h6, html {
    font-weight: 400
}

/*#sidenav-overlay, .drag-target, .side-nav {
    top: 0;
    position: fixed
}*/

.waves-effect, td, th {
    vertical-align: middle
}

.subm, .truncate, nav .brand-logo {
    white-space: nowrap
}

.right {
    float: right !important
}

nav ul li, nav ul.left {
    float: left
}

.fondo {
    background-color: #10207e
}

ul {
    padding: 0;
    list-style-type: none
}

*, :after, :before {
    box-sizing: inherit
}

img {
    border: 0
}

a:active, a:hover {
    outline: 0
}

.z-depth-0 {
    box-shadow: none !important
}

.btn-floating:hover, .btn-large:hover, .btn:hover, .z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22)
}

/*.side-nav .collapsible, nav .input-field input:focus, nav .input-field input[type=date]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=text]:valid, nav .input-field input[type=url]:valid {
    border: 0;
    box-shadow: none
}*/

@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: none !important
    }
}

@media only screen and (max-width: 600px) {
    .hide-on-small-and-down, .hide-on-small-only {
        display: none !important
    }
}

@media only screen and (min-width: 601px) {
    .hide-on-med-and-up {
        display: none !important
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .hide-on-med-only {
        display: none !important
    }
}

@media only screen and (min-width: 993px) {
    .hide-on-large-only {
        display: none !important
    }

    .show-on-large {
        display: initial !important
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .show-on-medium {
        display: initial !important
    }
}

@media only screen and (min-width: 601px) {
    .show-on-medium-and-up {
        display: initial !important
    }
}

@media only screen and (max-width: 992px) {
    .show-on-medium-and-down {
        display: initial !important
    }
}

@media only screen and (max-width: 600px) {
    .show-on-small {
        display: initial !important
    }

    .center-on-small-only {
        text-align: center
    }
}

nav {
    background-color: #1f3597;
    width: 100%;
    height: 56px;
    line-height: 56px
}

nav .nav-wrapper {
    position: relative;
    height: 100%
}

nav .nav-wrapper i {
    display: block;
    font-size: 2rem
}

@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: none
    }
}

nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px
}

nav .button-collapse i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    font-family: 'Fredoka One'
}

nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

nav .brand-logo.right {
    right: .5rem;
    padding: 0
}

nav ul li {
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    transition: background-color .3s;
    padding: 0
}

nav ul li.active, nav ul li:hover {
    background-color: #62b232
}

nav ul a {
    font-size: 1rem;
    display: block;
    padding: 0 15px
}

nav .input-field input {
    height: 100%;
    font-size: 1.2rem;
    border: 0;
    padding-left: 2rem
}

nav .input-field label {
    top: 0;
    left: 0
}
@media only screen and (min-width: 992px) {
    .brand-logo {
        margin-left: 20px
    }
}

nav .input-field label i {
    color: rgba(255, 255, 255, .7);
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -ms-transition: color .3s;
    transition: color .3s
}

nav .input-field label.active i {
    color: #fff
}

nav .input-field label.active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.navbar-fixed {
    position: relative;
    height: 56px;
    z-index: 999
}

.navbar-fixed nav {
    position: fixed
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 64px;
        line-height: 64px
    }

    .navbar-fixed {
        height: 64px
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 110%
}

/*.dropdown-content li > a > i, .side-nav .collapsible-header {
    height: inherit;
    line-height: inherit
}*/
.dropdown-content li > a > i {
    height: inherit;
    line-height: inherit
}

@font-face {
    font-family: Roboto;
    src: url(font/roboto/Roboto-Regular.woff2) format("woff2"), url(font/roboto/Roboto-Regular.woff) format("woff"), url(font/roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, .87)
}

@media only screen and (min-width: 0) {
    html {
        font-size: 14px
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit
}

h1 {
    font-size: 22px;
    margin: 2.1rem 0 1.68rem
}

h2 {
    font-size: 3.56rem;
    margin: 1.52rem 0 1.424rem
}

h3 {
    font-size: 2.92rem;
    margin: 1.46rem 0 1.168rem
}

h4 {
    font-size: 2.28rem;
    margin: 1.14rem 0 .912rem
}

h5 {
    font-size: 1.64rem;
    margin: .82rem 0 .656rem
}

h6 {
    font-size: 1rem;
    margin: .5rem 0 .4rem
}

em {
    font-style: italic
}

strong {
    font-weight: 500
}

.light, footer.page-footer .footer-copyright, span.badge.new {
    font-weight: 300
}

small {
    font-size: 75%
}

.dropdown-content li > a, .dropdown-content li > span, .side-nav a {
    font-size: 1.2rem;
    font-family: 'Fredoka One';
    color: #fff;
}

.dropdown-content {
    background-color: #081b5d;
    margin: 0;
    display: none;
    min-width: 100px;
    max-height: 650px;
    opacity: 0;
    position: absolute;
    will-change: width, height
}

.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, .87);
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-transform: none
}

.dropdown-content li.active, .dropdown-content li:hover {
    background-color: #0b2373
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #fff;
    display: block;
    padding: 1rem
}

.indigo.darken-4 {
    background-color: #1a237e !important
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

.side-nav {
    background-color: #1a237e;
    border: 0;
}

/*.side-nav .collapsible li {
    padding: 0
}

.side-nav .collapsible-header {
    background-color: transparent;
    border: 0;
    margin: 0 1rem
}

.side-nav .collapsible-header i {
    line-height: inherit
}

.side-nav .collapsible-body {
    border: 0;
    background-color: #fff
}

.side-nav .collapsible-body li a {
    margin: 0 1rem 0 2rem
}

.side-nav {
    width: 240px;
    left: -105%;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    will-change: left
}
*/
.card, .truncate, .waves-effect {
    overflow: hidden
}

/*.side-nav.right-aligned {
    will-change: right;
    right: -105%;
    left: auto
}

.side-nav .collapsible {
    margin: 0
}

.side-nav li {
    float: none;
    padding: 0 15px
}

.side-nav li.active, .side-nav li:hover {
    background-color: #62b232s
}

.side-nav a {
    color: #FFF;
    display: block;
    height: 64px;
    line-height: 64px;
    padding: 0 15px
}
*/
.drag-target {
    height: 100%;
    width: 10px;
    z-index: 998
}

.btnmm, select {
    width: 100%;
    height: 3rem
}

/*.side-nav.fixed a {
    display: block;
    padding: 0 15px;
    color: #444
}

.side-nav.fixed {
    left: 0;
    position: fixed
}

.side-nav.fixed.right-aligned {
    right: 0;
    left: auto
}

@media only screen and (max-width: 992px) {
    .side-nav.fixed {
        left: -105%
    }

    .side-nav.fixed.right-aligned {
        right: -105%;
        left: auto
    }
}

.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
    background-color: #ee6e73
}

.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a {
    color: #fff
}

#sidenav-overlay {
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 997;
    will-change: opacity
}
*/
/* le quite al siguiente .side-nav */
.btn, .btn-floating, .btn-large, .card, .card-panel, .collapsible, .dropdown-content, .toast, .z-depth-1, nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

a {
    color: #039be5;
    background-color: transparent
}

.select-wrapper {
    position: relative
}

.select-wrapper span.caret {
    color: #61b841;
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 13px;
    z-index: 998
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    outline: 0;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px;
    padding: 0;
    display: block;
    font-family: 'Fredoka One', cursive;
    border: #62b232;
    border-radius: 10px;
    background-color: #081b5d;
    color: #fce918;
    text-align: center
}

.brincojuego, .lotojuego, .negrita, .quinijuego, .titjuegos, p.horoscopo {
    font-family: 'Fredoka One'
}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.materialize-textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s
}

select {
    display: none;
    background-color: rgba(255, 255, 255, .9);
    padding: 5px;
    border: #f2f2f2;
    border-radius: 2px
}

button, select {
    text-transform: none
}

.cardefe, .negrita {
    text-transform: uppercase
}

.negrita {
    margin-top: 0;
    font-size: 29px
}

span.badge {
    min-width: 3rem;
    padding: 0 6px;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
    position: absolute;
    right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

span.badge.new {
    font-size: .8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px
}

span.badge.new:after {
    content: " new"
}

.truncate {
    display: block;
    text-overflow: ellipsis
}

.sig {
    font-size: 28px;
    margin: 0;
    padding: 0;
    color: #62b232
}

.b, p.b, p.c {
    margin: 10px -9px
}

.horajuego {
    background: #10207e;
    padding: 3px;
    font-weight: 700;
    color: #FFF;
    border-radius: 10px
}

.quinijuego {
    color: #e51c23
}

.lotojuego {
    color: #fff
}

.b, .brincojuego, p.c {
    color: #fce918
}

.btnmm {
    background-color: #1a237e !important;
    padding: 5px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

p.b, p.c {
    padding: 10px 0
}

.a1 {
    background-color: #081b5d
}

p.c {
    background: #081b5d;
    border-radius: 3px;
    font-size: 20px
}

.b {
    padding: 15px 0;
    BACKGROUND: #61b841;
    font-size: 18px;
    border-radius: 5px
}

.bh {
    background: #1f3597
}

.img_horoscopo {
    width: 70px;
    background: rgba(17, 17, 17, .12);
    border-radius: 100px
}

p.horoscoponro {
    color: #fce918;
    background-color: rgba(0, 0, 0, .08);
    border-radius: 11px;
    font-size: 22px
}

p.horoscopo {
    font-size: 15px;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .11)
}

.enfemeride {
    position: absolute !important;
    bottom: 0;
    left: 0;
    background-color: #62b232
}

.adsbygoogle {
    max-height: 515px
}

.bg_bienvenida2 {
    color: #e0e0e0;
    font-size: 14px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    border-top: 14px solid #61b841;
    padding: 15px !important
}

.titjuegos {
    font-size: 1.24rem;
    color: #fff;
    margin: 6px;
    border-radius: 4px;
    padding: 5px
}

.cuando {
    color: #fff;
    position: relative;
    left: 0;
    top: 8px;
    z-index: 998;
    background: #d01f14;
    padding: 3PX 5px;
    font-size: 18PX;
    font-weight: 700;
    BORDER-RADIUS: 6PX
}

.li-q {
    border: #203496;
    padding: 5px;
    border-radius: 8px;
    margin: 7px;
    background: #10207e
}

.no-padding {
    padding: 0 !important
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%
    }
}

.container .row {
    margin-left: -.75rem;
    margin-right: -.75rem
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.section.no-pad {
    padding: 0
}

.section.no-pad-bot {
    padding-bottom: 0
}

.section.no-pad-top {
    padding-top: 0
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem
}

.relojin, .rr {
    float: right;
    width: 24px
}

.row .col.s1 {
    width: 8.33333%;
    margin-left: 0
}

.row .col.s2 {
    width: 16.66667%;
    margin-left: 0
}

.row .col.s3 {
    width: 24%;
    margin-left: 0
}

.row .col.s4 {
    width: 33.33333%;
    margin-left: 0
}

.row .col.s5 {
    width: 46%;
    margin-left: 0
}

.row .col.s6 {
    width: 50%;
    margin-left: 0
}

.row .col.s7 {
    width: 58.33333%;
    margin-left: 0
}

.row .col.s8 {
    width: 66.66667%;
    margin-left: 0
}

.row .col.s9 {
    width: 75%;
    margin-left: 0
}

.row .col.s10 {
    width: 83.33333%;
    margin-left: 0
}

.row .col.s11 {
    width: 91.66667%;
    margin-left: 0
}

.row .col.s12 {
    width: 100%;
    margin-left: 0
}

.row .col.offset-s1 {
    margin-left: 8.33333%
}

.row .col.offset-s2 {
    margin-left: 16.66667%
}

.row .col.offset-s3 {
    margin-left: 25%
}

.row .col.offset-s4 {
    margin-left: 33.33333%
}

.row .col.offset-s5 {
    margin-left: 41.66667%
}

.row .col.offset-s6 {
    margin-left: 50%
}

.row .col.offset-s7 {
    margin-left: 58.33333%
}

.row .col.offset-s8 {
    margin-left: 66.66667%
}

.row .col.offset-s9 {
    margin-left: 75%
}

.row .col.offset-s10 {
    margin-left: 83.33333%
}

.row .col.offset-s11 {
    margin-left: 91.66667%
}

.row .col.offset-s12 {
    margin-left: 100%
}

@media only screen and (min-width: 601px) {
    .row .col.m1 {
        width: 8.33333%;
        margin-left: 0
    }

    .row .col.m2 {
        width: 16.66667%;
        margin-left: 0
    }

    .row .col.m3 {
        width: 25%;
        margin-left: 0
    }

    .row .col.m4 {
        width: 33.33333%;
        margin-left: 0
    }

    .row .col.m5 {
        width: 41.66667%;
        margin-left: 0
    }

    .row .col.m6 {
        width: 50%;
        margin-left: 0
    }

    .row .col.m7 {
        width: 58.33333%;
        margin-left: 0
    }

    .row .col.m8 {
        width: 66.66667%;
        margin-left: 0
    }

    .row .col.m9 {
        width: 75%;
        margin-left: 0
    }

    .row .col.m10 {
        width: 83.33333%;
        margin-left: 0
    }

    .row .col.m11 {
        width: 91.66667%;
        margin-left: 0
    }

    .row .col.m12 {
        width: 100%;
        margin-left: 0
    }

    .row .col.offset-m1 {
        margin-left: 8.33333%
    }

    .row .col.offset-m2 {
        margin-left: 16.66667%
    }

    .row .col.offset-m3 {
        margin-left: 25%
    }

    .row .col.offset-m4 {
        margin-left: 33.33333%
    }

    .row .col.offset-m5 {
        margin-left: 41.66667%
    }

    .row .col.offset-m6 {
        margin-left: 50%
    }

    .row .col.offset-m7 {
        margin-left: 58.33333%
    }

    .row .col.offset-m8 {
        margin-left: 66.66667%
    }

    .row .col.offset-m9 {
        margin-left: 75%
    }

    .row .col.offset-m10 {
        margin-left: 83.33333%
    }

    .row .col.offset-m11 {
        margin-left: 91.66667%
    }

    .row .col.offset-m12 {
        margin-left: 100%
    }
}

@media only screen and (min-width: 993px) {
    .row .col.l1 {
        width: 8.33333%;
        margin-left: 0
    }

    .row .col.l2 {
        width: 16.66667%;
        margin-left: 0
    }

    .row .col.l3 {
        width: 25%;
        margin-left: 0
    }

    .row .col.l3ads {
        width: 430px;
        margin-left: 0
    }

    .row .col.l4 {
        width: 33.33333%;
        margin-left: 0
    }

    .row .col.l5 {
        width: 41.66667%;
        margin-left: 0
    }

    .row .col.l6 {
        width: 50%;
        margin-left: 0
    }

    .row .col.l7 {
        width: 58.33333%;
        margin-left: 0
    }

    .row .col.l8 {
        width: 66.66667%;
        margin-left: 0
    }

    .row .col.l9 {
        width: 75%;
        margin-left: 0
    }

    .row .col.l10 {
        width: 83.33333%;
        margin-left: 0
    }

    .row .col.l11 {
        width: 91.66667%;
        margin-left: 0
    }

    .row .col.l12 {
        width: 100%;
        margin-left: 0
    }

    .row .col.offset-l1 {
        margin-left: 8.33333%
    }

    .row .col.offset-l2 {
        margin-left: 16.66667%
    }

    .row .col.offset-l3 {
        margin-left: 25%
    }

    .row .col.offset-l4 {
        margin-left: 33.33333%
    }

    .row .col.offset-l5 {
        margin-left: 41.66667%
    }

    .row .col.offset-l6 {
        margin-left: 50%
    }

    .row .col.offset-l7 {
        margin-left: 58.33333%
    }

    .row .col.offset-l8 {
        margin-left: 66.66667%
    }

    .row .col.offset-l9 {
        margin-left: 75%
    }

    .row .col.offset-l10 {
        margin-left: 83.33333%
    }

    .row .col.offset-l11 {
        margin-left: 91.66667%
    }

    .row .col.offset-l12 {
        margin-left: 100%
    }
}

.collapsible.popout {
    border: 0;
    box-shadow: none
}

.collapsible.popout > li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    margin: 0 24px;
    transition: margin .35s cubic-bezier(.25, .46, .45, .94)
}

.collapsible.popout > li.active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    margin: 16px 0
}

.materialboxed {
    cursor: zoom-in;
    position: relative;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    -ms-transition: opacity .4s;
    transition: opacity .4s
}

.materialboxed:hover {
    will-change: left, top, width, height
}

.materialboxed:hover:not(.active) {
    opacity: .8
}

.materialboxed.active {
    cursor: zoom-out
}

#materialbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292929;
    z-index: 999;
    will-change: opacity
}

.materialbox-caption {
    position: fixed;
    display: none;
    color: #fff;
    line-height: 50px;
    bottom: 0;
    width: 100%;
    padding: 0 15%;
    height: 50px;
    z-index: 1000;
    -webkit-font-smoothing: antialiased
}

select:focus {
    outline: #c9f3ef
}

button:focus {
    outline: 0;
    background-color: #2ab7a9
}

label {
    font-size: .8rem;
    color: #9e9e9e
}

.table-of-contents.fixed {
    position: fixed
}

.table-of-contents li {
    padding: 2px 0
}

.table-of-contents a {
    font-weight: 300;
    color: #757575;
    padding-left: 20px;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.4px;
    display: inline-block
}

.table-of-contents a:hover {
    color: #a8a8a8;
    padding-left: 19px;
    border-left: 1px solid #ea4a4f
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-left: 2px solid #ea4a4f
}

.relojcerca, .tit, td.fondo_posicion {
    font-weight: bolder
}

td.fondo_numero {
    font-size: 17px
}

td.fondo_posicion {
    color: #7cb342;
    font-size: 17px;
    font-family: Lato, sans-serif
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.modal, .z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22), 0 25px 55px 0 rgba(0, 0, 0, .21)
}

.fondotablero {
    background-color: #203496;
    color: #fff;
    border-top: 10px solid #62b232;
    margin-bottom: 23px !important;
    width: 100%;
    padding: 15px;
    display: inline-block
}

td.fondo_posicion1 {
    background-color: #d01f14;
    border-radius: 8px
}

.significado {
    color: #7cb342;
    background-color: #112181;
    border-radius: 11px;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    text-shadow: 8px 3px 4px #141c69
}

.contenido-tablero, .titulotablero {
    font-family: Lato, sans-serif
}

.c1, .ds1, .ds2, .nroe, .nrohoros, .nrosoc {
    font-family: fredoka one
}

td, th {
    padding: 3px 0;
    display: table-cell;
    text-align: left;
    border-radius: 2px
}

.contenido-tablero {
    text-shadow: 4px 4px 2px #1a237e;
    font-size: 17px
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.menu, .waves-effect {
    display: inline-block
}

table, td, th {
    border: 0
}

.titulotablero {
    text-align: center;
    font-size: 19px;
    border-radius: 12px;
    margin: 9px;
    text-shadow: 5px 4px 2px #1a237e
}

.relojin {
    width: 50px;
    height: 50px;
    color: #111;
    padding: 10px;
    background-color: #203496;
    border-radius: 100px
}

.relojcerca {
    font-size: 23px;
    color: #fff
}

.waves-effect {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.poceada_tit {
    background-color: #1A237E;
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 17px;
    font-weight: bolder;
    margin-top: 15px;
}

.titaci {
    background: #000000;
    color: #FFF;
    padding: 10px;
    margin: 0;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 10px;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #62B232;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, .8);
    background-color: rgba(51, 51, 51, .08)
}

.white-text {
    color: #FFF !important
}

.grey-text.text-lighten-4 {
    color: #f5f5f5 !important
}

.a {
    font-size: 16px;
    text-shadow: 3px 4px rgba(0, 0, 0, .18)
}

.nroe {
    width: 50px;
    position: absolute;
    margin: 3px;
    z-index: 998;
    background: #62b232;
    font-size: 28px;
    border-radius: 100%;
    color: #fce918;
    border: 2px dotted #fce918
}

.ds1, .ds2 {
    margin: 0
}

.ds2 {
    background: url(img/evitabg.png) #fce918;
    font-size: 45px;
    color: #e91e63;
    text-shadow: 2px 4px #fce918
}

.ds1 {
    background: #e91e63;
    padding: 0;
    color: #fff;
    font-size: 21px
}

.subm {
    position: relative;
    height: 31px;
    background-color: #1f3597;
    margin: 0 auto;
    width: 100%;
    line-height: 30px;
    text-align: center
}

.nrosoc {
    margin: 3px;
    background: #6200ea;
    font-size: 28px;
    color: #fce918
}

.el_punti, .el_punti2 {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .4);
    position: absolute
}

.palitos {
    width: 21px;
    margin-bottom: -3px
}

.c1 {
    font-size: 26px
}

.el_punti {
    width: 5px;
    height: 5px;
    margin-left: 10%
}

.el_punti2 {
    width: 3px;
    height: 3px;
    margin-left: 80%
}

.bg_quiniela2 {
    font-size: 22px;
    color: #fce918;
    padding: 9px;
    border-radius: 10px;
    background-color: #081b5d
}

.elsol, .elsolnaranja, .lunalunera {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    float: left
}

.lunalunera {
    background-color: #f0f0f0;
    box-shadow: 0 0 100px rgba(255, 255, 255, 1)
}

.elsol, .elsolnaranja {
    box-shadow: 0 0 100px rgba(249, 240, 104, 1)
}

.elsol {
    background-color: #f4e94e
}

.elsolnaranja {
    background-color: #ffd461
}

.sigbg1, .sigbg10, .sigbg2, .sigbg3, .sigbg4, .sigbg5, .sigbg6, .sigbg7, .sigbg8, .sigbg9 {
    padding: 10px;
    border-radius: 100%;
    width: 90px
}

.sigbg1 {
    background: #1abc9c
}

.sigbg2 {
    background: #2ecc71
}

.sigbg3 {
    background: #3498db
}

.sigbg4 {
    background: #9b59b6
}

.sigbg5 {
    background: #f1c40f
}

.sigbg6 {
    background: #e67e22
}

.sigbg7 {
    background: #e74c3c
}

.sigbg8 {
    background: #f39c12
}

.sigbg9 {
    background: #d35400
}

.sigbg10 {
    background: #c0392b
}

.menu {
    height: 60px;
    width: 2.4em;
    text-indent: -999px;
    background: url(img/icons.svg) -19px -63px no-repeat
}

.icontit {
    width: 50px;
    height: 50px;
    float: right;
    padding: 4px;
    background-color: #203496;
    border-radius: 100px;
    margin-top: -15px
}

.p1 {
    border-radius: 8px;
    border: 3px solid #203e18;
    background: #081b5d;
    animation: border-flicker 2s linear infinite
}

.p2 {
    font-size: 2.9em;
    color: rgba(146, 135, 14, .5)
}

.p1 .p2 {
    animation: text-flicker 2s linear forwards
}

.p1 .first {
    animation: letter-flicker 3s linear infinite
}

@keyframes letter-flicker {
    100%, 11%, 18%, 2%, 32%, 37%, 40%, 6% {
        color: #fce918;
        text-shadow: 0 0 15px #fce918
    }
    14%, 3%, 33%, 39%, 9% {
        color: rgba(146, 135, 14, .5);
        text-shadow: none
    }
}

@keyframes border-flicker {
    100%, 13%, 18%, 2%, 34%, 5%, 54%, 7% {
        border: 3px solid #61b841;
        box-shadow: 0 0 15px -1px #61b841, 0 0 12px -1px #61b841 inset
    }
    16%, 22%, 3%, 36%, 6%, 9% {
        border: 3px solid #203e18;
        box-shadow: none
    }
}

.nrohoros {
    color: #fcc21b;
    border: 1px dashed #fcc11c;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 100px;
    font-size: 23px;
    background: #e602ae
}

.card, .card .card-image {
    position: relative
}

.tit {
    font-size: 22px;
    color: #fce918;
    border: 3px solid #62b232;
    padding: 9px;
    border-radius: 10px;
    background-color: #081b5d;
    margin-top: -5px;
    margin-bottom: -4px
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%
}

.card {
    margin: .5rem 0 1rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px
}

.card .card-content p {
    margin: 0;
    color: inherit
}

#clock {
    font-size: 23px
}

.btn, .btn-large {
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer
}

.btn, .btn-flat, .btn-large {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle
}

.favorito {
    margin: 3px;
    font-size: 29px;
    font-family: 'Fredoka One', cursive
}

.hor1, .m30 {
    margin-top: 30px
}

.hor1, .horbtn, .padf0 {
    font-family: fredoka one
}

.pad3 {
    padding: 3px !important
}

.padf0 {
    padding: 0 !important
}

.pad0 {
    padding: 0
}

.efe {
    padding: 15px 3px 3px
}

.cardefe {
    height: 130px
}

.bghor {
    background-image: url(https://quesalio.com/horoscopo_img/bg_repeat_violeta1.png)
}

.hor1 {
    font-size: 20px
}

.socialbo {
    border-radius: 50%
}

.m30 {
    margin-bottom: 30px
}

.btn-large {
    height: 54px;
    line-height: 54px
}

.horbtn {
    color: #fce918;
    background-color: #6200ea;
    width: 100%
}

.dscard {
    BACKGROUND: #000;
    margin: 14px 0 0;
    color: #fff;
    font-size: 16px;
    PADDING: 8px
}

.starsoc {
    width: 26px !important;
    float: right
}

.dsvio {
    padding: 5px;
    background: #4A148C
}

.dspink {
    padding: 5px;
    background: #E91E63
}

.luck {
    background-color: #10207E;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tit {
    margin-bottom: 10px;
}

.quiniBackground {
    background-color: #ffff00;
}

.lotoBackground {
    background-color: #e51c23;
}

/* poceada */
.pozo {
    padding: 4px !important;
}

.pozos {
    background-color: #1F3597;
    border-radius: 10px;
    border: 2px dashed #1A237E;
    padding: 9px !important;
}

.pbg3 {
    background-color: #0288D1;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.q2 {
    color: #FFF;
    font-family: 'Fredoka One', cursive;
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem;
}

label {
    font-size: .8rem;
    color: #9e9e9e;
}

.boletapoceada {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 28px !important;
}

.margin2 {
    margin-top: 14px;
}

.quini_subtit {
    font-weight: bolder;
    padding: 5px;
}

.poceada_bg {
    padding-top: 10px !important;
    color: #FFF;
    background-color: #1A237E;
    min-height: 52px;
    font-size: 13px;
}

.btn-floating_poceada {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 55.5px;
    height: 55.5px;
    line-height: 56px;
    padding: 0;
    background-color: rgb(26, 35, 126);
    border-radius: 50%;
    transition: .3s;
    vertical-align: middle;
    letter-spacing: .5px;
}

.poceada_numero {
    background: #1A237E;
    color: #FFFFFF;
    font-size: 33px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    margin: 8px 0px;
}

.quini_subtit {
    font-weight: bolder;
    padding: 15px !important;
}

.quini_tradicional {
    font-weight: bold;
    font-size: 25px;
    background-color: #FFFFFF;
    border-left: 1px solid #FF0;
    border-right: 1px solid #FF0;
}

.suerte {
    background-color: #1A237E;
    font-size: 25px;
    color: #FFF;
    margin-bottom: 28PX;
}

.aciertos {
    visibility: hidden;
}

.premio {
    visibility: hidden;
}

.active_ball {
    background-color: #62b232;
}

/* header */
.quini_header {
    color: #E51C23 !important;
}

.pozotitulo {
    font-weight: bolder;
    color: #ff0;
    padding: 9px;
    border-radius: 10px;
    background-color: #1a237e;
    margin-top: -4px;
}

.poceada {
    background-color: #0288D1;
    border-radius: 15px;
    border: 7px solid #1A237E;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-height: 120px;
}

.titjuegos {
    font-size: 1.24rem;
    color: #FFFFFF;
    font-family: 'Fredoka One', cursive;
    margin: 6px;
    border-radius: 4px;
    padding: 5px;
}

.mp0 {
    margin: 0;
    padding: 0;
    color: #0a1659;
    font-weight: bolder;
}

.plus {
    background-color: #64DD17;
    border-radius: 15px;
    border: 7px solid #1A237E;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-height: 120px;
}

.quini {
    background-color: #ffff00;
    border-radius: 15px;
    border: 7px solid #1A237E;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-height: 120px;
}

.loto {
    background-color: #e51c23;
    border-radius: 15px;
    border: 7px solid #1A237E;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-height: 120px;
}

.section_header {
    padding-bottom: 0 !important;
}

.container .row_1 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* poceada plus */
.pbg4 {
    background-color: #64DD17;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.black {
    background-color: #000 !important;
}

/* quini */

.quini_bg {
    background-color: #ff0;
    width: 100%;
    overflow: hidden;
    margin: 0;
    border-radius: 5px;
}

.q1 {
    color: red;
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem;
    font-weight: 400;
}

.quini_titrojo {
    BACKGROUND-COLOR: #e51c23;
    color: #fff;
    padding: 10px;
    font-size: 17px;
}

.bg_bienvenida2, .q1, .titjuegos, .titaci {
    font-family: 'Fredoka One', cursive;
}

.quini_titamarillo, .quini_titazul, .quini_titrojo, .quini_titverde, .quini_titvioleta {
    margin: 15px 0 0;
    font-weight: bolder;
}

.quini_tradicional {
    font-weight: 700;
    font-size: 25px;
    background-color: #FFF;
    border-left: 1px solid #FF0;
    border-right: 1px solid #FF0;
    color: rgb(17, 17, 17);
}

.wp {
    padding: 0 !important;
}

.quini_bgrojo {
    padding: 5px !important;
    background-color: #e51c23;
    COLOR: #FFF;
    font-size: 13px;
}

.quini_subtit {
    font-weight: bolder;
    padding: 5px;
    min-height: 52px !important;
}

.quini_titverde {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    font-size: 17px;
}

.quini_bgverde {
    padding: 5px !important;
    background-color: #4CAF50;
    color: #FFF;
    font-size: 13px;
}

.quini_titazul {
    BACKGROUND-COLOR: #3F51B5;
    color: #fff;
    padding: 10px;
    font-size: 17px;
}

.quini_bgazul {
    padding: 5px !important;
    background-color: #3F51B5;
    COLOR: #FFF;
    font-size: 13px;
}

.quini_titamarillo {
    background-color: #FF9800;
    color: #fff;
    padding: 10px;
    font-size: 17px;
}

.quini_bgamarillo {
    padding: 5px !important;
    background-color: #FF9800;
    color: #FFF;
    font-size: 13px;
}

.quini_titvioleta {
    background-color: #9C27B0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
}

.quini_bgvioleta {
    padding: 5px !important;
    background-color: #9C27B0;
    color: #FFF;
    font-size: 13px;
}

.end {
    margin-bottom: 30px;
}

/* loto */
.divider {
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    padding: 7px !important;
}

.boletaloto {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px !important;
}

.loto_tit {
    background-color: #1C1C1C;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    font-weight: bolder;
    margin: 0;
    margin-top: 10px;
}

.loto_numero {
    color: #FFF;
    background-color: #000;
    font-size: 33px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    margin: 3px;
}

.loto_jackpot {
    background: #F81C23;
    color: #FFF100;
    font-size: 33px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    margin: 3px;
}

.loto_ganadores {

    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    padding: 7px !important;
}

.prize_next_move_loto {
    font-size: 36px;
}

.loto_bg {
    background-color: #e51c23;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
}

.suerte {
    background-color: #FA1B22;
    margin-bottom: 10px;
    color: #fff;
    font-weight: lighter;
    font-size: 25px;
}

/* horoscope */
.title_date_horoscope {
    background: #630494;
    color: #fcc21b;
    padding: 10px;
    font-family: fredoka one;
}

.card_celebrity {
    background: #e602ae !important;
}

.card_celebrity img {
    width: 100%;
    max-height: 150px;
}

.violeta2 {
    background-image: url(img/bg_repeat_violeta2.png);
    color: #fff;
    margin: 0;
    padding: 0px !important;
}

.bghoroscopo {
    background-image: url(img/bg_repeat_violeta1.png);
    color: #fff;
    width: 100%;
    padding: 15px;
    display: inline-block;
}

.title_saludo {
    background: #ff00b7;
    font-family: fredoka one;
    font-size: 24px;
}

.horo_cont {
    font-family: fredoka one;
    font-size: 17px;
}

.title_hor {
    background: #3a0e6f;
    font-family: fredoka one;
    font-size: 24px;
    border-bottom: 3px solid #ff00b7;
    color: #ff00b7;
}

.nroastral {
    background: #e602ae;
    padding: 10px;
    border-radius: 100%;
    font-size: 41px;
    color: #fcc21b;
    border: 1px dashed #fcc11c;
    margin-left: 30px;
    margin-right: 30px;
}

.card {
    position: relative;
    overflow: hidden;
    margin: .5rem 0 1rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.nrosoc1 {
    font-size: 15px !important;
    color: #fff;
}

.bola2 {
    height: 134px;
    width: 155px;
}

.classhor {
    font-family: fredoka one;
    font-size: 29px;
    text-shadow: 3px 3px rgba(17, 17, 17, .52);
    margin: 0;
    background: #9c2aad;
}

.classstar {
    color: #f6bf0d;
    font-family: fredoka one;
    font-size: 31px;
    margin: 0;
    text-shadow: 3px 3px rgba(17, 17, 17, .52);
    margin-top: -7px;
    background: #630494;
}

.titlehoroscopo {
    color: #fce918;
    font-family: fredoka one;
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
    text-shadow: 3px 3px rgba(17, 17, 17, .52);
}

.b1 {
    font-size: 26px;
    font-family: fredoka one;
    margin: 0;
    color: #fce918;
}

.b2 {
    margin: 0;
    font-size: 18px;
}
